{% extends "base.html"%}

{%block title%}
    esqueci minha senha
{%endblock title%}

{% block content%}
    <h1>recupera senha</h1>
    <form action="." method="post">
        {% csrf_token %}
        <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Digite seu e-mail</label>
        <input name="email_user_input" type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        </div>
        <button type="submit" class="btn btn-outline-primary">
            Receber Código
        </button>
    </form>
    {% if user_exist %}
        {{user_exist.email}}
    {% endif %}


{% endblock content%}